USE [sshoss]
GO
/****** Object:  Table [dbo].[province]    Script Date: 01/07/2015 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[province](
	[id] [varchar](6) NULL,
	[name] [varchar](50) NULL,
	[orderid] [varchar](6) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[province] ([id], [name], [orderid]) VALUES (N'1', N'北京', N'0')
INSERT [dbo].[province] ([id], [name], [orderid]) VALUES (N'2', N'天津', N'0')
INSERT [dbo].[province] ([id], [name], [orderid]) VALUES (N'3', N'河北', N'0')
/****** Object:  Table [dbo].[district]    Script Date: 01/07/2015 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[district](
	[id] [varchar](6) NULL,
	[cityId] [varchar](6) NULL,
	[name] [varchar](50) NULL,
	[postCode] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[district] ([id], [cityId], [name], [postCode]) VALUES (N'1', N'1', N'东城区', N'100010')
INSERT [dbo].[district] ([id], [cityId], [name], [postCode]) VALUES (N'2', N'1', N'西城区', N'100032')
INSERT [dbo].[district] ([id], [cityId], [name], [postCode]) VALUES (N'3', N'1', N'崇文区', N'100061')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
/****** Object:  Table [dbo].[city]    Script Date: 01/07/2015 11:45:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[city](
	[id] [varchar](6) NULL,
	[provinceId] [varchar](6) NULL,
	[name] [varchar](50) NULL,
	[areaCode] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[city] ([id], [provinceId], [name], [areaCode]) VALUES (N'1', N'1', N'北京市', N'010')
INSERT [dbo].[city] ([id], [provinceId], [name], [areaCode]) VALUES (N'2', N'2', N'天津市', N'022')
INSERT [dbo].[city] ([id], [provinceId], [name], [areaCode]) VALUES (N'3', N'3', N'石家庄市', N'0311')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
